h1 {
    text-align: center;
}
table{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-collapse:separate;
    font-family: Calibri, sans-serif;
    color: white;
}


td, th {
    text-align: center;
    padding: 5px;
    background-color: rgb(158, 12, 12);
  }

  td:empty,th:empty {
    border: none;
    background-color: white;
  }
